    input[type="submit"],
    a {
        cursor: pointer;
    }
    
    .loginform {
        margin-top: 5%;
        margin-left: 36%;
        margin-right: 36%;
        border: 0.15em solid #fff;
        border-radius: 0.13em;
        padding-top: 0%;
        padding-bottom: 2%;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .loginform #actualform {
        font-size: 1vmax;
    }
    
    .loginform #actualform a {
        font-size: 1.2vmax;
        color: #f60
    }
    
    .regform {
        margin-top: 5%;
        margin-left: 35%;
        margin-right: 35%;
        border: 0.15em solid #fff;
        border-radius: 0.13em;
        padding-top: 0%;
        padding-bottom: 2%;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .regform #actualform {
        font-size: 1vmax;
    }
    
    .regform #actualform a {
        font-size: 1.2vmax;
        color: #f60
    }
    
    .mid {
        padding-bottom: 2%;
    }
    
    body {
        background-color: #000;
        text-align: center;
        font-size: 1.7vmax;
        color: #fff;
    }
    
    label {
        display: block;
    }
    
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="text"],
    textarea {
        padding: 10px;
        border: 0;
        border-radius: 2px;
        background-color: #0097e6;
        color: #192a56;
        transition-duration: 0.6s;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
    }
    
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="tel"]:focus,
    input[type="text"]:focus,
    textarea:focus {
        background-color: #192a56;
        color: #0097e6;
    }
    
    input[type="submit"] {
        background-color: #0097e6;
        color: #192a56;
        width: 80%;
        border: 0;
        border-radius: 40px;
        padding: 10px;
        transition-duration: 0.6s;
    }
    
    input[type="email"]:hover,
    input[type="password"]:hover,
    input[type="tel"]:hover,
    input[type="text"]:hover,
    textarea:hover {
        background-color: #192a56;
        color: #0097e6;
    }
    
    input[type="submit"]:hover {
        background-color: #192a56;
        color: #0097e6;
    }
    
     ::placeholder {
        color: #192a56;
        text-align: center;
    }
    
    @media only screen and (max-width: 600px) {
        .loginform {
            margin-top: 5%;
            margin-left: 10%;
            margin-right: 10%;
            border: 0.15em solid #fff;
            border-radius: 0.13em;
            padding-top: 0%;
            padding-bottom: 2%;
            padding-left: 1%;
            padding-right: 1%;
            font-size: 3vmax;
        }
        .loginform #actualform {
            font-size: 2.5vmax;
        }
        .loginform #actualform a {
            font-size: 2.7vmax;
            color: #f60
        }
        .regform {
            margin-top: 5%;
            margin-left: 5%;
            margin-right: 5%;
            border: 0.15em solid #fff;
            border-radius: 0.13em;
            padding-top: 0%;
            padding-bottom: 2%;
            padding-left: 1%;
            padding-right: 1%;
            font-size: 3vmax;
        }
        .regform #actualform {
            font-size: 2.5vmax;
        }
        .regform #actualform a {
            font-size: 2.7vmax;
            color: #f60
        }
        textarea {
            padding: 10px;
            border: 0;
            border-radius: 2px;
            background-color: #0097e6;
            color: #192a56;
            transition-duration: 0.6s;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1em;
            width: 80%
        }
    }