{% extends 'base.html' %}

{% block head %}
<title>Add {{ product[0][1] }} to Cart</title>
{% endblock %}


{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/products.css')}}">
<div class="pagehead" id="pagehead">Select Quantity</div>
<div class = "product" id="product">
     <div id="h2" ><u>{{ product[0][1] }}</u></div>
    <div id="details">
        Category : {{ ptype[product[0][2]-1][0]}}<br>
        Price : ₹{{ product[0][3] }}<br>
        Stock left : 
        {% if product[0][4] > 25 %}
            <div id="highstock">{{ product[0][4] }}</div><br>
        {% elif product[0][4]>10 %}
            <div id="midstock" >{{ product[0][4] }}</div><br>
        {% else %}
            <div id="lowstock">{{ product[0][4] }}</div><br>
        {% endif %}
        {% if item|length<1 %}
        <div id="highstock">You currently don't have this item in your cart</div><br>
        {% else %}
        <div id="lowstock">You currently have {{item[0][2]}} in your cart</div><br>
        {% endif %}
        <form action="/addtocart/{{ product[0][0] }}" method="POST" >
            <label for "quanity">Quantity :</label>
            <input type="number" autocomplete="off" id="quantity" name="quantity" placeholder={% if item|length<1 %}"0"{% else %}"{{ item[0][2] }}"{% endif %} value={% if item|length<1 %}"0"{% else %}"{{ item[0][2] }}"{% endif %}maxlength="2" required>
            <input type="submit" value="🛒 ADD TO CART">
        </form>
    </div>
    {% if msg %}
        <div class="errors">
            {{ msg }}
        </div>
    {% endif %}
</div>
{% endblock %}