{% extends 'base.html' %}

{% block head %}
<title>Confirm Order</title>
{% endblock %}


{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/profile.css')}}">
<div class="confirmorderheading" >Order will be delivered to : </div>
<div class="profile" id="profile">
    <div id="name">{{currentuser['name']}}</div><br><br>
    <div id="details">
    Email : {{currentuser['email']}}<br><br>
    Phone : {{currentuser['phone']}}<br><br>
    Address : {{currentuser['address']}}<br><br>
    Payment Mode : COD<br><br>
    <i><font color="#f00">We currently support only Cash/Card on Delivery Orders.Sorry for the inconvenience</i></font>
    </div>
    <div id="olinks">
        <div id="orders"><a href="/editprofile">Edit</a></div><br>
        <div id="edit"><a href="/confirmorder/{{cart_id}}" id="edit">Confirm Order</a></div><br>
        <div id="delete"><a href="/cart" id="delete">Cancel</a></div><br>
    </div>
</div>

{% if successmsg %}
    <div class="Successmsg">
        {{ successmsg }}
    </div><br><br>
{% endif %}




{% endblock %}