{% extends 'base.html' %}

{% block head %}
<title>Forgot Password</title>
{% endblock %}


{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css')}}"> 
<div class = "regform">
    <br><u><b>RESET PASSWORD</u></b><br><br><br><br>
    <div id="actualform">
    <form action="/forgotpassword" method="POST">
        <label for="email">Email : </label>
        <input type="email" autocomplete="off" id="email" name="email" placeholder="Enter a valid Email" required>
        <br><br>
        <label for="question">Question :</label>
        <select name="question" id="question">
        {% for i in questions %}
            <option value={{ i[0] }}>{{ i[1] }}</option>
        {% endfor %}
        </select>
        <br><br>
        <label for="name">Answer : </label>
        <input type="text" autocomplete="off" id="answer" name="answer" placeholder="Enter your answer" required>
        <br><br><br>
        <input type="submit" value="Reset Password">
    </form><br>
    {% if msg %}
        <div class="errors">
            {{ msg }}
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}