{% extends 'base.html' %}

{% block head %}
<title>Signup</title>
{% endblock %}


{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css')}}"> 
<div class = "regform">
    <br><u><b>REGISTER</u></b><br><br><br><br>
    <div id="actualform">
    <form action="/signup" method="POST">
        <label for="name">Name : </label>
        <input type="text" autocomplete="off" id="name" name="name" placeholder="Enter your name" required
        pattern="^[a-zA-Z-' ]*$">
        <br><br>
        <label for="email">Email : </label>
        <input type="email" autocomplete="off" id="email" name="email" placeholder="Enter a valid Email" required>
        <br><br>
        <label for="password">Password : </label>
        <input type="password" autocomplete="off" id="password" onkeyup='check();' name="password" placeholder="Password (Min. 6 characters)"  
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
        required>
        <br><br>
        <label for="cpassword">Confirm Password : </label>
        <input type="password" autocomplete="off" id="cpassword" name="cpassword" onkeyup='check();' placeholder="Password (Min. 6 characters)"  
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
        required><br><br><b><span id='message'></span></b>
        <br><br>
        <label for="phone">Phone Number : </label>
        <input type="tel" autocomplete="off" id="phone" name="phone" placeholder="Enter Valid Phone Number (Ex: 8448448501)" maxlength="10"  
        pattern="[7896][0-9]{9}" required>
        <br><br>
        <label for="address">Address : </label>
        <textarea id="address" autocomplete="off" name="address" cols="30" rows="10" placeholder="Enter your address" required></textarea>
        <br><br>
        <u><b><font color="#f00">Choose a secret question and answer to recover your account in case you forget your password.Select one which only you know the answer to.Try not to have easily guessable answers like "Father,Mother,Sister,Brother".</b></u></font>
        <br><br>
        <label for="question">Question :</label>
        <select name="question" id="question">
        {% for i in questions %}
            <option value={{ i[0] }}>{{ i[1] }}</option>
        {% endfor %}
        </select>
        <br><br>
        <label for="name">Answer : </label>
        <input type="text" autocomplete="off" id="answer" name="answer" placeholder="Enter your answer" required>
        <br><br><br>
        <input type="submit" value="Register">
    </form><br>
    {% if msg %}
        <div class="errors">
            {{ msg }}
        </div>
    {% endif %}
    </div>
</div>
<script>
var check = function() {
    if(document.getElementById('password').value.length < 6) {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Passwords should contain atleast 6 characters';
    }else{
        re = /[0-9]/;
        if(!re.test(document.getElementById('password').value)) {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password must contain at least one number (0-9)!';
        }else{
            re = /[a-z]/;
            if(!re.test(document.getElementById('password').value)) {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Password must contain at least one lowercase letter (a-z)!';
            }else{
                re = /[A-Z]/;
                if(!re.test(document.getElementById('password').value)) {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'Password must contain at least one uppercase letter (A-Z)!';
                }else{
                    re = /[@$!%*?&]/;
                    if(!re.test(document.getElementById('password').value)) {
                        document.getElementById('message').style.color = 'red';
                        document.getElementById('message').innerHTML = 'Password must contain at least one special character (@$!%*?&%)!';
                    }else{
                        if (document.getElementById('password').value ==
                            document.getElementById('cpassword').value) {
                            document.getElementById('message').style.color = 'green';
                            document.getElementById('message').innerHTML = 'Passwords Matching';
                        } else {
                            document.getElementById('message').style.color = 'red';
                            document.getElementById('message').innerHTML = 'Passwords not Matching';
                        }
                    }
                }
            }
        }
    }
}
</script>
{% endblock %}